.ios, .md, .android {

  page-login {

    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

    #back-layer {
      background-image: url(../assets/images/login/back.png);
      background-size: cover;
      width: 100%;
      height: 100%;
    }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
          padding-bottom: 15px;
      }

      ion-list {
          margin: 0;
      }

      button{
        color: color($colors, blueunoi);
        border-color: color($colors, blueunoi);
      }

      /*input[type="text"] {
        color: color($colors,blueunoi);
      }

      input[type="password"] {
        color: color($colors,blueunoi);
      }*/
  }
}
