<ion-content>

  <div padding id="back-layer">

    <ion-row>
      <ion-col>
        <img src="assets/images/login/logo5.png" />
      </ion-col>
    </ion-row>

      <form [formGroup]="loginForm">
        <ion-row padding>
          <ion-col>

            <ion-item>
              <ion-label floating>Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="user" formControlName="username" spellcheck="false" autocapitalize="off"></ion-input>
            </ion-item>
            <p color="danger" *ngIf="!isValid('username')">Tu usuario debe ser mayor a 3 carácteres</p>

            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" [(ngModel)]="passwd" formControlName="password"></ion-input>
            </ion-item>
            <p color="danger" *ngIf="!isValid('password')">Tu password debe ser mayor a 3 carácteres</p>

          </ion-col>
        </ion-row>
      </form>

    <ion-row padding>
      <ion-col text-right>
        <button (click)=validateLogin(user,passwd) [disabled]="!loginForm.valid" ion-button outline round>Ingresar</button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
