<ion-tabs id="tabs">
  <ion-tab [root]="tab1Root" tabTitle="Propuestas" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Prospecto" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Renovacion" tabIcon="refresh"></ion-tab>
</ion-tabs>
