<ion-header>
  <ion-row>
    <ion-col class="header">
      <img src="assets/images/home/logo.png" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-navbar></ion-navbar>
  </ion-row>
</ion-header>

<ion-content>
  <ion-row class="school" padding-left>
    <ion-row>
      <h2><b>{{proposal.schoolName | uppercase}}</b></h2>
    </ion-row>
    <ion-row>
      <ion-col width-100 text-center class="huge-num">
        {{proposal.totalPts +' P'}}
        <h5>
          UTILIZADOS
        </h5>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-scroll padding-top scrollY="true" style="width: 100%; height: 55%">
    <ion-list no-lines>
      <ion-item *ngFor="let feature of proposal.features">
        <ion-avatar item-left>
          <img src="assets/images/elements/logo-{{feature.order}}.png">
        </ion-avatar>
        <h3>{{feature.name + ' ('+feature.points+'p)'}}</h3>
        <h2 item-right><b>{{feature.value}}</b></h2>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <ion-footer no-border>
      <ion-col class="footer">
        <ion-row>
          <ion-col width-25>
            <h4><b>{{"TOTAL "}}</b><br>{{proposal.totalY+(proposal.totalY <= 1 ? " AÑO": " AÑOS")}}</h4>
          </ion-col>
          <ion-col width-75 text-center>
            <h5><b>{{ proposal.totalMxn | currency:'MXN':true}}</b></h5>
          </ion-col>
        </ion-row>
      </ion-col>
  </ion-footer>
</ion-content>
