<ion-header>
  <ion-row>
    <ion-col class="header">
      <img src="assets/images/home/logo.png" />
    </ion-col>
  </ion-row>
</ion-header>

<ion-content swipeBackEnabled="false">
  <div class="school">
    <ion-fab top right>
      <button ion-fab><ion-icon name="settings"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab (click)="saveProposal();"><ion-icon name="download" outline></ion-icon></button>
        <button ion-fab (click)="useExtra();">
          <ion-icon *ngIf="!extends1yr" name="star" outline></ion-icon>
          <ion-icon *ngIf="extends1yr" name="undo" outline></ion-icon>
        </button>
        <button ion-fab (click)="close();"><ion-icon name="close" outline></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <ion-row padding-left>
      <h3><b>{{school.schoolName | uppercase}}</b></h3>
    </ion-row>
    <ion-row padding>
      <ion-col width-20 text-center class="big-num">
        K
        <div class="subtitle">
          {{school.kRenewalPts}} <ion-icon name="people"></ion-icon>
        </div>
      </ion-col>
      <ion-col width-20 text-center class="big-num">
        P
        <div class="subtitle">
          {{school.pRenewalPts}} <ion-icon name="people"></ion-icon>
        </div>
      </ion-col>
      <ion-col width-20 text-center class="big-num">
        S
        <div class="subtitle">
          {{school.sRenewalPts}} <ion-icon name="people"></ion-icon>
        </div>
      </ion-col>
      <ion-col width-40 text-center class="huge-num" (press)="onBalancelongPress($event)">
        {{school.offerPts}}
        <div class="subtitle">
          SALDO
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ion-scroll scrollY="true" style="width: 100%; height: 50%">
    <ion-list no-lines>
      <ion-item *ngFor="let feature of features">
        <ion-avatar item-left>
          <img src="assets/images/elements/logo-{{feature.order}}.png">
        </ion-avatar>
        <h3>{{feature.name + ' ('+feature.points+'p)'}}</h3>
        <h2><b>{{feature.value}}</b></h2>
        <div item-right>
          <button [disabled]="feature.value === 0" (click)="decrementValue(feature)" ion-button outline><ion-icon name="arrow-down"></ion-icon></button>
          <button (click)="incrementValue(feature)" ion-button outline><ion-icon name="arrow-up"></ion-icon></button>
        </div>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <ion-footer no-border>
      <ion-col class="footer">
        <ion-row>
          <ion-col width-25>
            <h4><b>{{"TOTAL "}}</b><br>{{(extends1yr ? " + 1 AÑO" : "")}}</h4>
          </ion-col>
          <ion-col width-75 text-center>
            <h5><b>{{ getTotal() | currency:'MXN':true}}</b></h5>
          </ion-col>
        </ion-row>
      </ion-col>
  </ion-footer>
</ion-content>
