<ion-header>
    <ion-row class="header">
      <ion-col>
        <img src="assets/images/home/logo.png" />
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Busca un colegio" (ionInput)="getItems($event)" [showCancelButton]=true (ionCancel)="onCancel($event)"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      Colegios
    </ion-list-header>
    <button ion-item *ngFor="let school of schoolsR" (click)="createRenewal(school)" >
      {{'['+(!school.isProspect ? school.schoolId : 'P')+']'}} {{ school.schoolName }}
    </button>
  </ion-list>
</ion-content>
