<ion-header>
    <ion-row class="header">
      <ion-col>
        <img src="assets/images/home/logo.png" />
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>
  <ion-row padding-left>
    <h3>{{'Hola, '}}<b>{{firstName}}</b></h3>
  </ion-row>
  <ion-searchbar placeholder="Buscar por colegio" (ionInput)="getItems($event)" [showCancelButton]=true (ionCancel)="onCancel($event)"></ion-searchbar>
    <ion-list>
      <ion-list-header>
        Propuestas recientes
      </ion-list-header>
          <ion-item-sliding *ngFor="let proposal of proposalsR" #slidingItem>
            <button ion-item (click)="viewProposal(proposal)" >
              <h2>{{proposal.schoolName}}</h2>
              <p>{{proposal.totalY + (proposal.totalY <= 1 ? ' año' : ' años')}}</p>
              <p>{{proposal.totalPts + ' PTS'}}</p>
              <p>{{proposal.totalMxn | currency:'MXN':true }}</p>
              <ion-note item-right>
                {{proposal.creationDate | date: 'dd/MM/yy'}}
                <br>
                <ion-icon name="time"></ion-icon> {{(proposal.creationDate | date: 'HH:mm')}}
              </ion-note>
            </button>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="presentAlert(); closeSliding(slidingItem);">
                <ion-icon name="mail"></ion-icon>
                Enviar
              </button>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
</ion-content>
