.ios, .md, .android{

  page-home {

    .content{
      padding-top: 30px;
    }

    ion-note {
      color: color($colors,blueunoi);
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
  }
}
