<ion-header>
  <ion-row>
    <ion-col class="header">
      <img src="assets/images/home/logo.png" />
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <form [formGroup]="prospectForm">
    <ion-row padding>
      <ion-col>
        <ion-list-header>
          Registro de colegio prospecto
        </ion-list-header>
        <ion-item>
          <ion-label floating>Nombre del colegio</ion-label>
          <ion-input type="text" [(ngModel)]="prospectName" formControlName="prospectName" spellcheck="true" autocapitalize="on"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('prospectName')">Debes ingresar un nombre de colegio válido</p>

        <ion-item>
          <ion-label floating>Dirección (Calle y Número)</ion-label>
          <ion-input type="text" [(ngModel)]="prospectAddr" formControlName="prospectAddr" spellcheck="true" autocapitalize="on"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('prospectAddr')">Debes ingresar una dirección válida</p>

        <ion-item>
          <ion-label floating>Código postal</ion-label>
          <ion-input (ngModelChange)="zipChange($event)" type="tel" minlength="5" maxlength="5" [(ngModel)]="prospectPobox" formControlName="prospectPobox" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('prospectPobox')">Ingresa un código postal válido</p>

        <ion-item *ngIf="prospectPobox && isValid('prospectPobox')">
          <ion-label>Elige una colonia</ion-label>
          <ion-select [(ngModel)]="locality" formControlName="locality">
            <ion-option *ngFor="let locality of availableLocal" [value]="locality">{{locality}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="town !== ''">
          {{town}}
        </ion-item>

        <ion-item *ngIf="state !== ''">
          {{state}}
        </ion-item>

        <ion-item>
          <ion-label floating>Alumnos en Kinder</ion-label>
          <ion-input type="tel" minlength="1" [(ngModel)]="nKinder" formControlName="nKinder" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('nKinder')">Ingrese el número de alumnos para Kinder</p>

        <ion-item>
          <ion-label floating>Alumnos en Primaria</ion-label>
          <ion-input type="tel" minlength="1" [(ngModel)]="nElementary" formControlName="nElementary" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('nElementary')">Ingrese el número de alumnos para Primaria</p>

        <ion-item>
          <ion-label floating>Alumnos en Secundaria</ion-label>
          <ion-input type="tel" minlength="1" [(ngModel)]="nSecondary" formControlName="nSecondary" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <p color="danger" *ngIf="!isValid('nSecondary')">Ingrese el número de alumnos para Secundaria</p>
      </ion-col>
    </ion-row>
  </form>

  <ion-row padding>
    <ion-col padding-left *ngIf="nElementary && nKinder && nSecondary" text-left>
        <h1><b>{{getTotal()}}</b></h1>
        <h4>PTS</h4>
    </ion-col>
    <ion-col text-right>
      <button (click)=nextWindow() [disabled]="!prospectForm.valid" ion-button outline round>Siguiente</button>
    </ion-col>
  </ion-row>
</ion-content>
