// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ios, .md, .android{
  .header {
    background-image: url(../assets/images/home/back.png);
    background-size: 100%;
    padding-bottom: 13px;
      img {
        padding-top: 20px;
        padding-left: 45px;
      }
  }
  .school {

    background: linear-gradient(to right, purple,color($colors, blueunoi));
    background-size: 100%;
    width: 100%;
    color: #fff;
  }

  .footer{
    background: linear-gradient(to right, purple,color($colors, blueunoi));
    background-size: 100%;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  .toastyle {
    > div{
        width: 75%;
        background-color:color($colors,blueunoi)!important;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 5px;
        .toast-message {
          color: #fff;
          text-align: center;
        }
     }
  }

  .error-toast {
    > div{
        width: 75%;
        background-color:color($colors,danger)!important;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 5px;
        .toast-message {
          color: #fff;
          text-align: center;
        }
     }
  }

  .big-num{

    font-weight: lighter;
    font-size: 3.5em;
  }

  .currency{
    font-weight: lighter;
    font-size: 2.5em;
  }

  .huge-num{
    font-weight: normal;
    font-size: 4.5em;
  }

  .subtitle{
    text-align: center;
    font-size: 0.30em;
  }

  input[type="text"] {
    color: color($colors,blueunoi);
  }

  input[type="password"] {
    color: color($colors,blueunoi);
  }
}
